.homeContainer {
  background-image: url("../Home/bg.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
}
.fade {
  position: absolute;
  bottom: 0px;

  width: 100%;
  height: 100px;

  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 100%
  );
}
* {
  box-sizing: border-box;
}
body {
  font: 16px Arial;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type="text"],
input[type="date"] {
  background-color: #f1f1f1;
  margin: 10px;
  border-radius: 5px;
}
.search-button {
  padding: 10px;
  background-color: #f1f1f1;
  margin: 10px;
  border-radius: 5px;
  border-color: #f1f1f1;
}

.book-flight {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items {
  color: white;
  padding: 5px;
}

.items:hover {
  background-color: darkslateblue;
  cursor: pointer;
}