.home {
  background-image: url("bg.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
}
.fade {
  position: absolute;
  bottom: 0px;

  width: 100%;
  height: 100px;

  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 100%
  );
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: flex-start;
  justify-items: flex-end;
}

.intro {
  margin-right: 2vw;
  margin-top: 15vh;
  padding: 5%;
}

.intro p {
  font-size: 2.5em;
  color: white;
}

.button {
  border-radius: 4px;
  background-color: white;
  border: none;
  color: #000;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-top: 10px;
  width: auto;
  border-radius: 10px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.pop-flights {
  display: flex;
}

article {
  display: flex;
  position: relative;
  justify-content: space-around;
  margin: 50px;
  padding: 10px;
}

article p {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: white;
  font-size: large;
}

.pop-flights img {
  min-width: 300px;
  max-width: 25vw;
  border-radius: 21px;
}

.homeContainer h2 {
  position: absolute;
  left: 70px;
  margin-top: 10px;
}

article {
  transition: transform 0.2s;
}
.pop-flights article:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media (max-width: 600px) {
  .pop-flights {
    flex-direction: column;
  }
}
